.info {
    padding: 15px 15px;
    font: 16px/18px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 15px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 5px;
    float: left;
    margin-right: 8px;
    margin-top:6px;
    opacity: 0.7;
}

.legend img {
    float: left;
    margin-right: 6px;
}

footer {
  width: 100%;
  text-align: center;
  color:rgb(255,255,255);
  padding-top:1%;
  background-color: rgba(0,0,0,0.7);
}
